#title{
    margin-left: 30px;
    margin-top: 10px;
    color: gray;
}

.box{
    border: 1px solid gray;
    width: 99%;
    height: 130px;
    margin-top: 10px;
    margin-left: 7px;
}

.head{
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bold;
    color: gray;
}

.subdiv2{
    width: 28%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
    color: gray;
}

.buttons{
    display: inline-block;
}

button{
    margin-right:12px;
    width:80px;
    height:30px;
    text-align: center;
    font-family: sans-serif;
    color:white;
    background-color: rgb(17, 144, 175);
    border:0px;
    border-radius: 5px;
    font-size:18px;
}


/* ***********    POP UP    ************ */

/* div{
    padding-top: 0px;
} */

img{
    width: 6%;
    
}

#con{
    background-color: rgb(128, 128, 128,0.5);
}

#tp{
    background-color: gray;
    text-align: center;
}

#spl{
    width: 10%;
    display: inline;
    border-top: 1px solid #008299;
}

#for{
    margin-left: 10px;
}


#mem{
    position: absolute;
    top : 472px;
    left: 679px;
    font-size: 0.85rem;
}

#reg{
    margin-right: 10px;
}


body{
    width: 24%;
    background-color: white;
    margin : 120px auto;
}

a,#mem{
    color: #008299;
}

.bta,.btnn{
    background-color: gray;
    border: black;
    margin-left: 60px;
}

#main{
    background-color: rgb(128, 136, 138,0.8);
    margin: 0px;
    height: 574px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 99.7%;
    border: 2px solid;
}

a{
    text-decoration: none;
}

button :hover{
    color: black;
}


table{
    margin-left: 20px;
}

p{
    margin-top: 8px;
    display: inline-block;
    margin-right: 180px;
    font-weight: bold;
}


.btt{
    margin-left: 10px;
}

input{
    padding: 5px;
}


.pp{
    color: black;
}
